
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="logo_menu">
        <div>
          <a class="navbar-brand" ><img src="../../assets/geekrabit-full-logo.png" alt=""></a>
        </div>
        <!-- <div style="margin-top: 31px;">
          <img src="../../assets/Menutoggle.png" class="navbar-toggler " (click)="toggleSidebar()" alt="">
        </div> -->
      </div> 
  
      <div class="collapse navbar-collapse" style="margin-top: 2%;" >
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item ">
            <img src="../../assets/Menutoggle.png" class="navbar-toggler sidebar_toggle_button"  alt="">
          </li> -->
          <li class="nav-item ">
  
            <a class="nav-link link" style="color:grey;" routerLinkActive="highlight" routerLink="/X1-Large" >X1-Large</a>
          </li>
          <li class="nav-item">
          <a class="nav-link link" style="color:grey;" routerLinkActive="highlight" routerLink="/enterprise" >For Enterprise</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link link" style="color:grey;" routerLinkActive="highlight" routerLink="/services">API access</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" style="color:grey;" routerLinkActive="highlight" routerLink="/products">Discord</a>
          </li>
         
          <!-- <li class="nav-item">
            <a class="nav-link text-white" routerLinkActive="highlight" routerLink="/get-a-quote" (click)="onClose()">Contact Us</a>
          </li>  -->
        </ul>
      </div>
    </nav>
  
  </header>
  
  