

<body style="">
    
<div class="" style="margin-top:12%;">
<h3 class="product">Product Launch</h3>
<h1 class="introduce">Introducing X1 Large 32k</h1>
<button class="chatbtn">chat with x1 Large</button>

<img class="imgship" src="../../assets/ship.webp" alt="img not found">

<p class="parag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The world of large language models (LLMs) rapidly expanding, offering unprecedented <br>
    opportunities for natural language processing across various domains. However, some critical challenges <br>
     have remained unaddressed. At Giga ML, we proudly introduce the X1 Large 32k model, a pioneering on-<br>
     premise LLM solution that addresses these critical issues.</p>

<p class="parag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Building on the <span style="color:rgb(71, 103, 192)">llama2 70B </span>model, we continued its pretraining and finetuned it using positional<br>
     interpolation (as in <span style="color:rgb(71, 103, 192)">Chen et al</span>) to increase context length from 4k to 32k.The resulting X1 Large 32k <br>
      model performs significantly better than the llama2 70B base model, and X1 Large performs close to <br>
      Claude 2 on benchmarks like MT bench with a score of 8.4 vs 8.1. We are running detailed benchmarks.<br>
     Our white paper will be out soon. Introducing this on-premise solution is a significant leap forward in the <br>
     field of LLMs, and here's how:</p>

     <img class="imggraph" src="../../assets/table.webp" alt="img not found">
 
<div>
 <h2 class="list">1. Pretraining</h2>
 <p class="parag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Existing LLMs have been unable to pre-train on specific text data, a shortfall that significantly <br> 
    hampers their customization and effectiveness in specialized areas like healthcare, legal, and finance. <br>
    With X1 Large, Giga ML empowers organizations to pre-train models with their domain-specific text data,<br>
     enabling a much more tailored approach.</p>
</div>

<div>
    <h2 class="list">2. Finetuning</h2>
    <p class="parag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The ability to finetune LLMs for particular output structures or forms has been lacking, limiting their <br>
         adaptability and application in areas that require specific and accurate responses. The X1 Large model <br>
         offers the flexibility to finetune for your particular needs, ensuring more nuanced and relevant responses.</p>
</div>

<div>
   <h2 class="list">3. Privacy</h2> 
   <p class="parag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Handling sensitive customer data with third-party servers like OpenAI and Anthropic has led to<br>
     substantial security and privacy concerns. X1 Large overcomes these challenges by offering secure, on-<br>
     premise solutions. Organizations can now handle sensitive data without compromising compliance or <br>
     trust.</p>
     <img class="imgvideo" src="../../assets/youtube.png" alt="img not found">

</div>

<div>
    <h2 class="list">4. State-of-the-Art RAG with Mano AI: <br> Unlocking New Opportunities</h2>
    <p class="parag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In partnership with Mano AI (YC S23), we are thrilled to unveil on-premise Retriever Augmented <br>
        Generation (RAG). This novel collaboration paves the way for extensive, secure, and responsive document <br>
        interaction. Mano AI takes care of On-premise embeddings and vector databases, so you don't need to <br>
        worry about data privacy.</p>
</div>

<div>
    <h2 class="list">Coming Soon :</h2>
    <p class="parag">
  
       1. X1 - large legal <br>
       2. X1 - large Medical <br>
       3. X1 - large Finance <br>
       4. Last but not least, the most requested X1 large Code. <br>
    </p>
</div>

<p class="parag"> Read this <span style="color:rgb(71, 103, 192)">blog</span> if you want to know more about our enterprise offering.</p>
<p class="parag"> Contact <span style="color:rgb(71, 103, 192)">founders@gigaml.com </span>to train and deploy the model on-premise in a week.</p>



<div class="input-group " >
    <input type="text" class="form-control emailin"   placeholder="Enter your work email" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary joinbtn" style="" type="button" id="button-addon2">Join Waitlist</button>
  </div>
 
<!-- <div class="input-group mb-3 emailinput">
    <input type="text" class=" emailin" style="border-radius: 15px;" placeholder="Enter your work email" aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
        <button class="btn joinbtn" type="button" id="button-addon2">Join Waitlist</button>
    </div>
</div> -->



<!-- <div class="footer1">
    <div class="">
    <div class="col-md-3" style="color:#FFF;">GeekRabit</div>
    <div class="col-md-3" style="color:grey;">product</div>
    <div class="col-md-3" style="color:grey;">Contact us at: founders@gigaml.co</div>
</div>
</div> -->

</div>

</body>